<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- NAVIGATION BAR AND LOGO! -->
<nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            LifeLogr
        </a>
    </div>
</nav>
<!-- BODY AND SOMETHING -->
<div class="container">
    <div class="row">
        <div class="col s10"></div>
        <div id="logout" class="waves-effect waves-light btn red col s2" onclick="logout()">
            <span>Abmelden</span>
        </div>
        <script>
            function logout() {
                var $textfield = $('#logout');
                $.ajax({
                    datatype: 'json',
                    url: 'logout',
                    type: 'GET',
                    success: function(result) {
                        window.open('/','_self');
                    }
                })
            }
        </script>
    </div>
    <div class="header center green-text">
        <h5>{{welcome}}</h5>
    </div>

    <div class="row">
        <div class="col s1"></div>
        <div id="visualization" class="col s10">
        </div>
    </div>
        <div class="col s1"></div>
    </div>

    <div class="row">
        <!-- DATEFORMS -->
        <div class="col s3"></div>
        <div id="datefrom" class="col s3">
            <label for="dateFrom">Datum von:</label>
            <input id="dateFrom" type="date" class="date-picker" name="dateFrom">
        </div>
        <div id="dateTo" class="col s3">
            <label for="dateTo">Datum bis:</label>
            <input id="dateTo" type="date" class="date-picker" name="dateTo">
        </div>
        <div class="col s3"></div>
        <script>
            /* TODO Datum einstellen und bei Auswahl, Graph verändern!
            var $datepickerfrom = $('#datefrom');
            $datepickerfrom.set('select', dateStart, {format: 'yyyy-mm-dd'});
            var $datepickerto = $('#dateTo');
            $datepickerto.set('select', dateEnd, {format: 'yyyy-mm-dd'});
            */
        </script>
    </div>

    <div class="row">
        <!-- CHECKBOXES -->
        <div class="col s3"></div>
        <div id="checkboxes" class="col s6">{{{checkBoxes}}}
        </div>
        <div class="col s3"></div>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script>
    var container = document.getElementById('visualization');
    var items;
    {{{items}}}
    /* SETTINGS FOR VISJS */
    var dateEnd = new Date();
    dateEnd.setHours(0,0,0,0);
    var dateStart = dateEnd - (15 * 1000 * 60 * 60 * 24);
    var options = {
        legend: true,
        defaultGroup: '',
        start: dateStart,
        end: dateEnd,
    };

    var dataset = new vis.DataSet(items);
    var graph2d = new vis.Graph2d(container, dataset, options);

    function onClickCheckbox(id) {
        var $checkbox = $('#'+id);
        var groupId = $('#label'+id).text();
        var visibility = $checkbox.prop('checked');
        setVisibility(groupId, visibility);
    }

    function setVisibility(groupId, visibility) {
        var options = {groups:{visibility:{ }}};
        options.groups.visibility[groupId] = visibility;
        graph2d.setOptions(options);
    }
</script>
</body>
</html>