<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- NAVIGATION BAR AND LOGO! -->
<nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            LifeLogr
        </a>
    </div>
</nav>
<!-- BODY AND SOMETHING -->
<div class="container">
    <div class="row">
        <div class="col s10"></div>
        <div id="logout" class="waves-effect waves-light btn red col s2" onclick="window.open('/logout','_self')">
            <span>Abmelden</span>
        </div>
    </div>
    <div class="header center green-text">
        <h5>{{welcome}}</h5>
    </div>

    <div class="row">
        <div class="col s1"></div>
        <div id="visualization" class="col s10">
        </div>
    </div>
        <div class="col s1"></div>
    </div>

    <div class="row">
        <!-- DATEFORMS -->
        <div class="col s3"></div>
        <div class="col s2">
            <label for="dateFrom">Datum von:</label>
            <input id="dateFrom" type="date" class="date-picker" name="dateFrom">
        </div>
        <div class="col s2">
            <label for="dateTo">Datum bis:</label>
            <input id="dateTo" type="date" class="date-picker" name="dateTo">
        </div>
        <div class="col s1"></div>
        <div id="refreshDate" class="waves-effect waves-light btn green col s1" style="font-size: 70%;"
             onclick="refreshDate()">
            <span>aktualisieren</span>
        </div>
        <div class="col s3"></div>
    </div>

    <div class="row">
        <!-- CHECKBOXES -->
        <div class="col s3"></div>
        <div id="checkboxes" class="col s6">{{{checkBoxes}}}
        </div>
        <div class="col s3"></div>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script>
    var container = document.getElementById('visualization');
    var items;
    {{{items}}}
    /* SETTINGS FOR VISJS */

    // Today + 1 day
    var dateEnd = new Date(new Date().getTime() + 86400000);

    // Tommorow - 8 days
    var dateStart = new Date(dateEnd - (8 * 24 * 60 * 60 * 1000));
    var options = {
        legend: true,
        defaultGroup: '',
        start: dateStart,
        end: dateEnd,
    };
    $('#dateFrom').val(dateStart.toISOString().substr(0,10));
    $('#dateTo').val(dateEnd.toISOString().substr(0,10));

    var dataset = new vis.DataSet(items);
    var graph2d = new vis.Graph2d(container, dataset, options);

    function refreshDate(id) {
        var $from = $('#dateFrom').val();
        var $to = $('#dateTo').val();
        window.open('/diagram?from=' + $from + '&to=' + $to, '_self');
    }

    function setVisibility(groupId, visibility) {
        var options = {groups:{visibility:{ }}};
        options.groups.visibility[groupId] = visibility;
        graph2d.setOptions(options);
    }
</script>
</body>
</html>