<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<!-- NAVIGATION BAR AND LOGO! -->
<nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            LifeLogr
        </a>
    </div>
</nav>
<!-- BODY AND SOMETHING -->
<div class="container">
    <br><br>
    <div class="header center green-text">
        <h5>Einloggen um das Diagramm zu sehen</h5>
    </div>
    <br><br>
    <div class="row center">
        <div class="col s4"></div>
        <div class="col s4">
            <!-- Token Input field and Submit Button -->
            <form>
                <div class="request-field input-field">
                    <input id="input_token" type="text" class="validate">
                    <label for="input_token">Token</label>
                </div>
                <a class="waves-effect waves-light btn green" onclick="login()">
                    <span>Anmelden</span>
                </a>
            </form>
        </div>
    </div>
    <!-- Failure Message, is empty if site is newly loaded -->
    <div id="authfail" class="alert-box alert col s2 red"></div>
    <div class="col s2"></div>
    <div class="row center">
        <div class="col s1"></div>
        <!-- Info Message for the User, how to get a token -->
        <div class="col s10">
            <blockquote>
                Um einen Token anzufordern, in Telegram eine Nachricht mit /token an den LifeLogr-Bot senden.
            </blockquote>
        </div>
        <div class="col s1"></div>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script>
    /* Submitting with pressing ENTER */
    $(document).ready(function () {
        $('#input_token').keydown(function (event) {
            if (event.keyCode == 13) {
                login();
                return false;
            }
        });
    });
    /* POST Token to the Server */
    function login() {
        var $textfield = $('#input_token');
        $.ajax({
            datatype: 'text/plain',
            url: '/token',
            type: 'POST',
            data: $textfield.val(),
            statusCode: {
                /* If token and user was found - everything is successfull */
                200: function () {
                    window.open('diagram','_self');
                },
                /* If token doesn't exists */
                401: function () {
                    var $authfail = $('#authfail');
                    $authfail.text("Token existiert nicht!");
                },
                /* If token is expired */
                410: function () {
                    var $authfail = $('#authfail');
                    $authfail.text("Token ist abgelaufen. Bitte hole dir einen neuen Token!");
                }
            }
        })
    }
</script>
</body>
</html>